
@media only screen and (max-width: 992px) {
    .container {
        padding: 0 15px;
    }

    .form-main {
        display: none;
    }

    .purchase-count {
        display: none;
    }

    #tags {
        display: none;
    }

    #search {
        display: inline-block;
    }

}

@media only screen and (max-width: 768px) {
    .select-options {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .top-bar {
        justify-content: center;
    }

    .main-bar__logo {
        font-size: 27px;
    }

    .show-select {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 576px) {
    .header {
        margin-bottom: 20px;
    }

    .nav-menu__list {
        display: none;
    }

    .menu-mob {
        display: block;
        width: 98%;
    }

    .flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .bar-bottom {

        &__desc {
            margin-bottom: 5px;
        }
    }
}

@media only screen and (max-width: 425px) {
    .list-items {
        justify-content: center;
    }
    
   .nav-info__link {
        font-size: 14px;
        padding: 5px;
   }

   .nav-info__item {
        margin-right: 15px;
        &:after {
            margin-left: 4px;
            right: -10px;
        }
   }
}
